body,
html,
#root {
  height: 100%;
  background-color: #fffcf0;
}

html {
  font-size: 20px;
}

.boxinput {
  width: 50%;
  height: 200px;
  resize: none;
  outline: none;
}

form {
  outline: none;
}

@font-face {
  font-family: bell;
  src: url('../../../fonts/Bell-MT.ttf');
}

@font-face {
  font-family: avenir;
  src: url('../../../fonts/Avenir-Bold.otf');
}

@font-face {
  font-family: cali;
  src: url('../../../fonts/Californian-FB.ttf');
}

@font-face {
  font-family: calibold;
  src: url('../../../fonts/Californian-FB-Bold.ttf');
}


.title {
  font-size: 20px;
}

.pages {
  font-size: 16px;
}

.display {
  font-size: 120px;
}

.header {
  font-size: 80px;
}

.body {
  font-size: 30px;
  color:#323A40;
}

.left-align {
  margin-left: 25%;
  text-align: left;
}

.right-align {
  margin-left: 35%;
  text-align: right;

}

.txtinput {
  padding: 20px;
}

.even {
  display: flex; 
  justify-content: space-evenly;
}

.avenir {
  font-family: avenir
}

.cali {
  font-family: cali
}

.calibold {
  font-family: calibold
}

.big-img {
  height: 200px;
  width: 200px;
}

.small-img {
  height: 20px;
  width: 20px;
}

.round-border {
  border: 6px solid #ded1bd;
  border-radius: 7px;
}

.background-color {
  background-color: #fffcf0;
}

.accent-color {
  background-color: #ded1bd;
}

.wide {
  height: 500px;
}

.rectangle {
  position: absolute;
  display: inline-block;
  height: 30px;
}

.brown {
  background: rgb(212,163,115);
  background: linear-gradient(90deg, rgba(212,163,115,1) 17%, rgba(255,252,240,1) 100%);
  opacity: 0.8;
}

.green {
  background: rgb(204,213,174);
  background: linear-gradient(90deg, rgba(204,213,174,1) 17%, rgba(255,252,240,1) 100%);
  opacity: 0.4;
}

.abs {
  position: absolute;
}

a {
  text-decoration: none;
}