body,
html,
#root {
  height: 100%;
  background-color: #fffcf0;
}

html {
  font-size: 20px;
}

@font-face {
  font-family: bell;
  src: url('../../../Bell-MT.ttf');
}

@font-face {
  font-family: avenir;
  src: url('../../../Avenir-Bold.otf');
}

@font-face {
  font-family: cali;
  src: url('../../../Californian-FB.ttf');
}

.title {
  font-size: 20px;
}

.header {
  font-size: 16px;
}

.display {
  font-size: 120px;
}

.even {
  display: flex; 
  justify-content: space-evenly;
}

.avenir {
  font-family: avenir
}

.cali {
  font-family: cali
}

.big-img {
  height: 200px;
  width: 200px;
}

.small-img {
  height: 20px;
  width: 20px;
}

p {
  font-family: bell;
}
